<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/dogme"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dogme"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp2"
        tools:targetApi="31">
        <activity
            android:name=".IntentPage1"
            android:exported="false" />
        <activity
            android:name=".IntentPage0"
            android:exported="false" />
        <activity
            android:name=".MyIntentList1"
            android:exported="false" />
        <activity
            android:name=".ListView1"
            android:exported="false" />
        <activity
            android:name=".SlideWork2"
            android:exported="false" />
        <activity
            android:name=".SlideWork"
            android:exported="false" />
        <activity
            android:name=".Slide"
            android:exported="false" />
        <activity
            android:name=".LoginDialog"
            android:exported="false" />
        <activity
            android:name=".Calculator"
            android:exported="false" />
        <activity
            android:name=".MainActivityuuuu2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>